- title "Dodaj ogłoszenie"
.ads
  = simple_form_for @ad do |f|
    =f.input :title, :label=>"Tytuł", :hint=>"Maksymalnie 50 znaków"
    =f.input :price, :label=>"Cena"
    =f.input :category_id, :label=>"Kategoria" , :hint=>"Możesz wpisać nr kategori ręcznie, lub wybrać z menu poniżej."
    =render :partial => "categories/bar"
    = f.input :name,:input_html => { :value => cookies[:name] }, :label=>"Ty" , :hint=>"Możesz podać imię, nazwisko, pseudonim lub to wszystko na raz."
    = f.input :email, :input_html => { :value => cookies[:email] }
    = f.input :phone_number, :input_html => { :value => cookies[:phone_number] }, :label=>"Telefon", :hint=>"Numer telefonu komórkowego bez zera np: 600123456"
    =f.input :ad_content, :label=>"Treść"
    .submit
      =f.button :submit

      
  - content_for :content_menu do
    = link_to t(:back), ads_path

