- title "Dodaj ogłoszenie"
.ads
  = simple_form_for @ad do |f|
    =f.input :title
    =f.input :price
    =f.input :category_id
    =render :partial => "categories/bar"
    = f.input :name, :input_html => { :value => cookies[:name] }
    = f.input :email, :input_html => { :value => cookies[:email] }
    = f.input :phone_number, :input_html => { :value => cookies[:phone_number] }
    =f.input :ad_content
    .submit
      =f.button :submit

      
  - content_for :content_menu do
    = link_to t(:back), ads_path

