- title "Dodaj ogłoszenie"
= form_for @ad do |f| 
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :price
    = f.text_field :price
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :ad_content
    = f.text_field :ad_content
  %p.button
    = f.submit
-# = simple_form_for @ad do |f|
-#   =f.input :title
-#   =f.input :price
-#   =f.input :name, :label=>t(:name)
-#   =f.input :email
-#   =f.input :phone_number, :hint=>"Numer telefonu komórkowego bez zera np: 600123456"
-#   =f.input :ad_content
-#   =f.button :submit
-# 
    
- content_for :categories do
  = link_to t(:back), ads_path
    
