#title
  %h1
    = @ad.title
#ad_content
  %b Treść ogłoszenia:
  = @ad.ad_content
%br
#name
  %b Imię i nazwisko:
  = @ad.name
%br
#email
  %b Email:
  = @ad.email
%br
#price
  %b Cena:
  = @ad.price
%br
- if @ad.photos.present?
  - @ad.photos.each do |p|
    #photos
      = image_tag("../../photos/#{@ad.id}/thumb_#{p.id}_small.png")
  %b Liczba wyświetleń:
  = @ad.display_counter
%br
  = link_to "wróć", ads_path
