%b
  Tytuł:
-# %br/
= @ad.title
%br/
%b
  Treść ogłoszenia:
-# %br/
= @ad.ad_content
%br/
%b
  Imię i nazwisko: 
-# %br/
= @ad.name
%br/
%b
  Email: 
-# %br/
= @ad.email
%br/
%b
  Cena: 
-# %br/
= @ad.price
%br/
%b
  Liczba wyświetleń:
-# %br/
= @ad.display_counter
%br/
= link_to "wróć", ads_path
