
= link_to "Ogłoszenia do zweryfikowania", verifications_path(:scope => "unverified_ads")
[
= Ad.unverified_ads.count
]
= link_to "Ogłoszenia potwierdzone", verifications_path(:scope => "confirmed_ads")
[
= Ad.confirmed_ads.count
]
= link_to "Ogłoszenia niepotwierdzone", verifications_path(:scope => "unconfirmed_ads") 
[
= Ad.unconfirmed_ads.count
]
- if @ads.empty?
  %br
  brak ogłoszeń do zweryfikowania 
- else
  %table.zebra-striped
    %tr
      %th ogłoszenie
      %th name 
      %th
      %th
      %th
    - @ads.each do |ad|
      %tr
        %td.ad
          #name
            = link_to "#{ad.name}", verifications_path(:scope => "ads_by_user", :email => ad.email)
        %td.ad
          #email
            = link_to "#{ad.title}", verify_info_verification_path(ad), :method => :put
        %td= link_to "Weryfikuj", verify_verification_path(ad)
        %td= link_to "Odrzuć", discard_info_verification_path(ad), :method => :put
        %td= link_to "Edit", edit_ad_path(ad)
