Ogłoszenie zostanie zakończone za 30 dni
%br
= link_to "Przedłuż o 7 dni", "http://0.0.0.0:3000/ads/edit/#{@ad.id}/#{@ad.token}"
%br
= link_to "Zakończ już teraz", "http://0.0.0.0:3000/ads/finish/#{@ad.id}/#{@ad.token}"
