.category{:class=>"root-#{category.root_id}"}
      = category.name   

      = link_to 'E', edit_category_path(category) 

      = link_to 'D', category, :confirm => 'Are you sure?', :method => :delete 

      = link_to "A", new_category_path(:parent_id => category)
