-if category.depth != 0
  - category.has_children?  ? children = "yes" : children = "no"
  .category{:id => "category_id-#{category.id}", :class=>"children-#{children} depth-#{category.depth} root-#{category.root_id} parent-#{category.parent_id}"}
    =category.name  



