= link_to "Zaawansowane wyszukiwanie", new_search_path
- if current_adv
  Witamy,
  = current_adv.name
  = link_to "Wyloguj", signout_path
- else
  = link_to "Google", "http://localhost:3000/auth/google_oauth2"
  = link_to "Facebook", "http://0.0.0.0:3000/auth/facebook"
- if logged_in?
  Zalogowany jako
  = current_user.username
  = link_to "Strona Główna", root_path
  = link_to "Panel Admina", verifications_path
  = link_to "Wyloguj", wyloguj_path
