!!!
%html
  %head
    %title
      = yield(:title)
      || TablicAGH.pl
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    .black_mamba
    #container
      - if current_adv
        Witamy,
        = current_adv.name
        = link_to "Wyloguj", signout_path
      - else
        = link_to "Google", "http://localhost:3000/auth/google_oauth2"
        = link_to "Facebook", "http://0.0.0.0:3000/auth/facebook"
      - if logged_in?
        Zalogowany jako
        = current_user.username
        = link_to "Strona Główna", root_path
        = link_to "Panel Admina", verifications_path
        = link_to "Wyloguj", wyloguj_path
      #sidebar
        %br
        =yield :content_menu
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h1= yield(:title)

        = yield
